.base {
  min-height: var(--form-element-height);
  padding: var(--form-padding-y) var(--form-padding-x);
  border: 1px solid var(--border-color);
  border-radius: var(--space-3xs);
  background: var(--neutral-50);
  color: var(--foreground-dark);
  width: 100%;
  font-size: var(--text-md);
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='currentColor' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right var(--space-sm) center;
}

.sizeSm {
  min-height: calc(var(--form-element-height) * 0.89);
  padding: calc(var(--form-padding-y) * 0.85) var(--form-padding-x);
  font-size: var(--text-sm);
}

.sizeMd {
  padding: var(--space-2xs) var(--space-xs);
  font-size: var(--text-md);
}

.sizeLg {
  min-height: calc(var(--form-element-height) * 1.11);
  padding: calc(var(--form-padding-y) * 1.15) var(--form-padding-x);
  font-size: var(--text-lg);
}

.variantDefault {
  background-color: var(--neutral-50);
  border: 1px solid var(--border-color);
}

.variantPrimary {
  border-color: var(--primary-500);
}

/* States */
.base:focus {
  outline: 2px solid var(--primary-300);
  outline-offset: -1px;
}

.base:hover:not(:disabled) {
  border-color: var(--primary-300);
}

.base:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
