.base {
  min-height: var(--form-element-height);
  padding: var(--form-padding-y) var(--form-padding-x);
  border: 1px solid var(--border-color);
  border-radius: 0.3125rem; /* 5px */
  background: var(--neutral-50);
  color: var(--foreground-dark);
  width: 100%;
  font-size: var(--text-md);
  line-height: 1.375;
  letter-spacing: 0;
  text-align: left;
}

.size-sm {
  min-height: var(--size-sm);
  padding: calc(var(--form-padding-y) * 0.85) var(--form-padding-x);
  font-size: var(--text-sm);
}

.size-md {
  min-height: var(--form-element-height);
  padding: var(--form-padding-y) var(--form-padding-x);
  font-size: var(--text-md);
}

.size-lg {
  min-height: var(--size-lg);
  padding: calc(var(--form-padding-y) * 1.15) var(--form-padding-x);
  font-size: var(--text-lg);
}

.variantDefault {
  background: var(--neutral-50);
  border: 1px solid var(--border-color);
}

.variantPrimary {
  background: var(--neutral-50);
  border: 2px solid var(--primary-500);
}

/* Add focus states */
.base:focus {
  outline: 2px solid var(--primary-300);
  outline-offset: -1px;
}

.base:hover:not(:disabled) {
  border-color: var(--primary-300);
}

.base:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.base::placeholder {
  font-size: 1rem;
  color: var(--neutral-400);
  opacity: 1;
}
