.base {
  font-family: inherit;
  line-height: 1.25;
  display: block;
}

/* Sizes */
.size-xs {
  font-size: var(--text-xs);
}

.size-sm {
  font-size: var(--text-sm);
}

.size-md {
  font-size: var(--text-md);
}

.size-xl {
  font-size: var(--text-lg);
}

/* Variants */
.variant-default {
  color: var(--foreground-900);
}

.variant-muted {
  color: var(--foreground-600);
}

.variant-primary {
  color: var(--primary-900);
}

.variant-secondary {
  color: var(--secondary-900);
}

.variant-accent {
  color: var(--accent-900);
}

/* Weights */
.weight-normal {
  font-weight: 400;
}

.weight-medium {
  font-weight: 500;
}

.weight-semibold {
  font-weight: 600;
}

.weight-bold {
  font-weight: 700;
}
