.tabsContainer {
  width: 100%;
  /* border-top: 2px solid var(--primary-300); */
  border-top-left-radius: var(--space-xs);
  border-top-right-radius: var(--space-xs);
  overflow: hidden;
}

.tabsList {
  background: transparent;
  border-bottom: none;
}

.tabsTrigger {
  padding: var(--space-sm) var(--space-lg);
  color: var(--neutral-50);
  background-color: var(--primary-300);
  flex: 1;
  text-align: center;
  border-top: 2px solid var(--primary-300);
  border-right: 2px solid var(--primary-300);
  border-left: 2px solid var(--primary-300);
}

.tabsTrigger[aria-selected="true"] {
  background-color: var(--primary-700);
}

.tabsContent {
  padding: var(--space-lg);
  background-color: var(--primary-700);
  border-radius: 0;
  border-top: 2px solid var(--primary-300);
}

@media (max-width: 768px) {
  .tabsTrigger {
    padding: var(--space-xs) var(--space-md);
    font-size: var(--text-sm);
  }

  .tabsContent {
    padding: var(--space-md);
  }
}
