.tabsContainer {
  width: 100%;
  border-top-left-radius: var(--space-sm);
  border-top-right-radius: var(--space-sm);
  overflow: hidden;
}

.tabsList {
  background: transparent;
  border-bottom: none;
}

.tabsTrigger {
  padding: var(--form-padding-y) var(--form-padding-x);
  color: var(--neutral-50);
  background-color: var(--primary-300);
  flex: 1;
  text-align: center;
  border-top: 2px solid var(--primary-300);
  border-right: 2px solid var(--primary-300);
  border-left: 2px solid var(--primary-300);
  min-height: var(--form-element-height);
}

.tabsTrigger[aria-selected="true"] {
  background-color: var(--primary-700);
}

.tabsContent {
  padding: var(--space-lg);
  background-color: var(--primary-700);
  border-radius: 0;
  border-top: 2px solid var(--primary-300);
}
